html { 
    /*font-size: calc(100% + 1vw) */
    font-size: calc(1em + 1vw)
}

body {
    height: 3300vh;
    background: #7DD3E2;
}

/* loading screen animasjon*/ 

#loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: fixed;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    font-size: 0.7em; 
    font-weight: 400;
    color: #242527;
    letter-spacing: 0.18em;
  }
  #loader::before, #loader::after {
    content: "";
    display: block; 
    width: 15px;
    height: 15px;
    background: #242527;
    position: absolute;
    animation: load 0.7s infinite alternate ease-in-out;
  }
  #loader::before {
    top: 0;
  }
  #loader::after {
    bottom: 0;
  }
  
  @keyframes load {
    0% {
      left: 0;
      height: 30px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 40px;
    }
    100% {
      left: 235px;
      height: 30px;
      width: 15px;
    }
  }


/* page content */

#container {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#container > * {
    position: absolute;
}


#scrollPosisjon {
   font-size:  1rem;
   z-index: 100; 
   left: 80vw; 
}

#tekstboks1 {
    z-index: 4;
    left: 3rem; 
    top: 2rem;
    width: 18.8rem; 
}

#cta {
    z-index: 6;
    left: 42.5vw; 
    bottom: 0.6rem;
    width: 7.5rem; 
}

#tekstboks2 {
    z-index: 4;
    left: 3rem; 
    width: 18rem; 
}

#tekstboks3 {
    z-index: 4;
    left: 3rem; 
    width: 18rem; 
}

#tekstboks4 {
    z-index: 4;
    left: 3rem; 
    width: 18rem; 
}

#tekstboks5 {
    z-index: 4;
    left: 3rem; 
    width: 18rem; 
}

#tekstboks6 {
    z-index: 7;
    width: 18rem; 
}


#bgHimmel { 
    z-index: 3;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    left: 0;
  }


#baat {
    z-index: 4;
    width: 44rem;
}

#baat2 {
    z-index: 4;
    width: 14rem;
}

#lystHav {
    width: 2212px; 
    z-index: 3;

}

#middelsHav {
    width: 2212px; 
    z-index: 4;

}

#morktHav {
    width: 2212px; 
    z-index: 5;

}

#oya {
    left: -22rem;
    width: 2212px;  
    z-index: 3;
}

#kyklops {
    width: 7.8rem; 
    z-index: 3;
    transform-origin: 50% 50%; 
}

#spyd {
    width: 12.5rem;  
    z-index: 5;
}

#bgHimmel2 { 
  z-index: 6;
  min-width: 1024px;
  width: 110%;
  height: auto;
  left: 0;
}

#poseidon { 
  z-index: 7;
  min-width: 1024px;
  width: 110%;
  height: auto;
  left: 0;
}
